{profiles, [
    {test, [
        {erl_opts, [debug_info, beam_debug_info, beam_debug_stack]}
    ]},
    {prod, [
        {erl_opts, [no_debug_info, warnings_as_errors]},
        {relx, [{dev_mode, false}]}
    ]}
]}.

{erl_opts, [debug_info]}.
{deps, [
]}.

{shell, [
    {config, "sys.config"},
    {apps, [erwaf]}
]}.

%% Release section
{relx, [{release, {erwaf, "0.1.0"}, [erwaf]}, 

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]}.